

<div class="container">

    <div class="row text-center">


    <div class="col-md-4">
    <hr class="light">
    <h4>News and Announcements</h4>
    <p>News and Announcements</p>
        <p>News and Announcements</p>
        <p>News and Announcements</p>
    </div>


    <div class="col-md-4">
    <hr class="light">
    <h4>News and Announcements</h4>
    <p>News and Announcements</p>
        <p>News and Announcements</p>
        <p>News and Announcements</p>
    </div>


    <div class="col-md-4">
    <hr class="light">
    <h4>News and Announcements</h4>
    <p>News and Announcements</p>
        <p>News and Announcements</p>
        <p>News and Announcements</p>
    </div>


     </div>

</div>