

<footer>
    <div class="container-fluid padding bg-light">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <p>Louis Calder Memorial Library</p>
                <p>1601 NW 10th Ave Miami, FL 33136</p>
                <p>P.O. Box 016950 (R-950)</p>
                <p>Miami, FL 33101</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <p><a href="https://www.instagram.com/caldermedlib/" target="_blank" title="Twitter"><i class="fab fa-instagram"></i></a></p>
                <p><a href="https://www.facebook.com/CalderMedLib/" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a></p>
                <p><a href="https://twitter.com/CalderMedLib?lang=en" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <p>Blackboard</p>
                <p>Emergency Preparedness</p>
                <p>Employment</p>
                <p>Feedback</p>
                <p>Privacy Statement and Legal Notices</p>
            </div>
            <div class="col-12">
                <hr class="light">
                <p>&copy; Copyright 2019 University of Miami. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>