<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div><a href="https://calder.med.miami.edu/index.html/"><img src="/assets/images/calderheaderlogo.jpg" alt="Calder Memorial Library" height="75" width="220"/></a></div>
        <div><a href="http://uhealthsystem.com/"><img src="/assets/images/uhealth-300.jpg" alt="UMHealth System" height="70" width="200" style="background:#D7B369; border:none;" /></a></div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>