<header>
<div class="container-fluid">
    <h1 id="header"> </h1>


</div>

<!-- Navigation -->
<div>

    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <a href="https://calder.med.miami.edu/index.htm" class="navbar-brand d-flex w-40 mr-auto"><img src="https://calder.med.miami.edu/images/calderheaderlogo.jpg" style="border-radius:4px;" height="80" width="auto" alt="University of Miami Libraries"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Mission</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ask A Librarian</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Forms</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Other Libraries</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Staff List</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <a href="https://calder.med.miami.edu/index.html" class="nav navbar-nav ml-auto w-40 justify-content-end"><img src="https://calder.med.miami.edu/images/uhealth-300.jpg" style="border-radius:4px;" height="80" width="auto" alt="University of Miami Libraries"></a>

        </div>
    </nav>


</header>