
<div header style="background-color:#F47321; color:#fff;" class="container-fluid">
    <h1 id="header"> </h1>


</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://calder.med.miami.edu/index.html"><img src="https://calder.med.miami.edu/images/calderheaderlogo.jpg" style="border-radius:4px;" height="80" width="auto" alt="University of Miami Libraries"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Mission</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ask A Librarian</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Forms</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Other Libraries</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Staff List</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>