
.current {
  color: green;
}

.navbar {
  background-color:#e9ecef;
  color:#fff;
}


.featured-resource {
  align-content: left;

}



.icon-background1 {
  color: #F47321;
}
.icon-background2 {
  color: #005030;
}

footer i {
  font-size: 1.5rem;
  color: #6c757d;

}

