.current {
  color: green;
}


.header {
  background-color:#F47321;
  color:#fff;
}


.featured-resource {
  align-content: left;
}


.icon-background1 {
  color: #F47321;
}


.icon-background2 {
  color: #005030;
}
