<<<<<<< HEAD
.current {
  color: green;
}

.featured-resource {
  align-content: left;

}
=======


>>>>>>> 5b89c556c4fd704f63623400a339e9cc2d2b0c3e
.icon-background1 {
  color: #F47321;
}
.icon-background2 {
  color: #005030;
}