

<div class="container">
    <!-- News ticker -->

    <div id="news_events" class="pure-u-1">
        <h3> <a href="http://calder.med.miami.edu/pages/renovations.html" style="font-weight:bold;">Library Announcements</a> <a class="prev" id="spotlight_controls_prev"><span>prev</span></a> <a class="next" id="spotlight_controls_next"><span>next</span></a> </h3>
    </div>
    <div class="pure-u-1">
        <div class="pure-g">
            <div class="pure-u-1">
                <div id="mini_features" class="owl-carousel owl-theme">


                    <!--main-->

                    <div class="owl-item">
                        <div class="item"> <img src="images/writingcenter.jpg" class="carousel_picture" alt="Writing Services Center" width="90" height="90" />
                            <h3>Writing Center Services</h3>
                            Writing Center services will cease for the summer after May 1. <br />
                            The Richter Library Writing Center will provide summer writing services.<br />
                            <a href="https://english.as.miami.edu/writing-center/index.html">Richter Library Writing Center</a>


                            <!--
                            4/19/2019
                            -->
                        </div>
                    </div>

                    <div class="owl-item">
                        <div class="item">
                            <a href="http://calder.med.miami.edu/images/mindfulness.pdf" target="_blank"><img src="images/mindfulness.png" class="carousel_picture" alt="Mindfulness Meditation" width="90" height="90" /></a>
                            <h3> <a href="http://calder.med.miami.edu/images/mindfulness.pdf" target="_blank">Drop-in Mindfulness Meditation</a></h3>
                            Calder Library Room 3050A<br />
                            Noon – 1:00 p.m. <br />
                            Sessions held every Wednesday, <br />
                            open to all students, faculty, and staff.

                            <!--
                            1/30/2019
                            -->
                        </div>
                    </div>


                    <div class="owl-item">
                        <div class="item">
                            <img src="images/laptop.png" class="carousel_picture" alt="Laptop Check Out" width="90" height="90" />
                            <h3>Laptops for Check Out</h3>Calder Library has two Dell Laptops available to check out for use within the library.
                            <!--
                               1/17/2019
                                  -->
                        </div>
                    </div>




                    <div class="owl-item">
                        <div class="item"> <a href="http://calder.med.miami.edu/images/JournalsAnnouncement2019.pdf" target="_blank"> <img src="images/ejournals.jpg" class="carousel_picture" alt="Journal Subscription Changes" width="90" height="90" /></a>
                            <h3> <a href="http://calder.med.miami.edu/images/JournalsAnnouncement2019.pdf" target="_blank">2019 Journal Subscription Changes</a></h3>
                            <a href="http://calder.med.miami.edu/images/JournalsAnnouncement2019.pdf" target="_blank">View additions and cancellations for the Library’s 2019 journal subscriptions.</a>
                            <!--
                     10/22/2018
                       -->

                        </div>
                    </div>




                    <div class="owl-item">
                        <div class="item"> <a href="https://sp.library.miami.edu/subjects/Newspapers#tab-0" target="_blank"> <img src="images/nyt.png" class="carousel_picture" alt="Free NYT and WSJ" width="90" height="90" /></a>
                            <h3><a href="https://news.miami.edu/life/stories/2018/10/access-nyt-wsj.html">Free NYT and WSJ Access from University Libraries</a></h3>
                            University Libraries now offers full online access to the <i>New York Times</i> and the <i>Wall Street Journal Online</i>.<br />
                            <a href="https://sp.library.miami.edu/subjects/Newspapers#tab-0">Libraries' News and Papers Page</a>
                            <!--
                     10/11/2018
                       -->
                        </div>
                    </div>




                    <div class="owl-item">
                        <div class="item"> <a href="http://access.library.miami.edu/login?url=http://connect.mangolanguages.com/univ-miami/start" target="_blank"> <img src="images/mango.png" class="carousel_picture" alt="Mango Languages" width="90" height="90" /></a>
                            <h3>Mango Languages</h3>
                            <span style="color:red; font-weight:bold;">Learn Medical Spanish</span> on your phone, tablet, or laptop using <a href="http://access.library.miami.edu/login?url=http://connect.mangolanguages.com/univ-miami/start" target="_blank" style="color:red; font-weight:bold;">Mango Languages</a>. <br />
                            <br />
                            <a href="http://caldercomm.med.miami.edu/index.php/home/219-learn-medical-spanish-with-mango-languages">Learn more...</a>
                            <!--
                     8/23/2018
                       -->

                        </div>
                    </div>



                    <div class="owl-item">
                        <div class="item"> <a href="http://spmed.library.miami.edu/subjects/guide.php?subject=mobileapps" target="_blank"> <img src="images/medicalapps.jpg" class="carousel_picture" alt="Medical Mobile Apps" width="90" height="90" /></a>
                            <h3><a href="http://spmed.library.miami.edu/subjects/guide.php?subject=mobileapps">Medical Mobile Applications</a></h3>
                            <a href="http://spmed.library.miami.edu/subjects/guide.php?subject=mobileapps" style="color:red; font-weight:bold;">Medical Mobile Apps Guide</a> <br />
                            Guide for easy access to medical mobile apps for the most popular databases and software applications available.

                            <!--
                        6/28/2018
                           -->

                        </div>
                    </div>

                    <div class="owl-item">
                        <div class="item"> <img src="images/residents.png" class="carousel_picture" alt="Residents" width="90" height="90" />
                            <h3>Residents </h3>
                            See the Library’s <a href="http://spmed.library.miami.edu/subjects/guide.php?subject=residents" onmouseover="this.style.color=&quot;#de752f&quot;" onmouseout="this.style.color=&quot;#B25614&quot;" style="font-size:13px; font-weight:bold; text-decoration: none;">Guide for Residents</a> and view the Library’s <a href="https://scholarlyrepository.miami.edu/cgi/viewcontent.cgi?article=1049&context=health_informatics_research" onmouseover="this.style.color=&quot;#de752f&quot;" onmouseout="this.style.color=&quot;#B25614&quot;" style="font-size:13px; font-weight:bold; text-decoration: none;">Resident Orientation</a> to discover resources that will assist you during your residency.

                            <!--
                       6/12/2018
                         -->

                        </div>
                    </div>

                    <div class="owl-item">
                        <div class="item"> <img src="images/gis.jpg" class="carousel_picture" alt="Geographic Information Systems" width="90" height="90" />
                            <h3>Data Services & GIS Services Consultations </h3>
                            Consultation hours with<span style="color:red; font-weight:bold;"> Geographic Information Systems Services</span> and <span style="color:red; font-weight:bold;">Data Services</span> Librarians <br />
                            <b> Tuesdays 1 pm – 4 pm</b> <br />
                            1st Floor Library Lounge<br />

                            <!--
                       5/31/2018
                           -->

                        </div>
                    </div>


                    <div class="owl-item">
                        <div class="item"> <a href="http://calder.med.miami.edu/images/servicedogs.png" target="_blank"> <img src="images/servicedogs.png" class="carousel_picture" alt="Service Dogs Welcome" width="90" height="90" /> </a>
                            <h3>Service Dogs Welcome!</h3>
                            All other animals must remain outside.

                            <!--
                       4/13/2018
                          -->

                        </div>
                    </div>



                </div>

                <!--end #mini_feature -->
            </div>
        </div>
    </div>
</div>
