

<div class="container">

    <div class="row text-center">
        <div class="row col-lg-7">

            <ul class="list-inline">

                    <li class="list-inline-item">
                   <a href="https://calder.med.miami.edu/ebooksindex.html">
                       <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-book-medical fa-stack-1x fa-inverse"></i>
                       </span></a>
                        <a href="https://calder.med.miami.edu/ebooksindex.html"><h6 class="service-heading">Find</br>Books</h6></a>
                    </li>

                    <li class="list-inline-item">
                   <a href="https://miami-primo.hosted.exlibrisgroup.com/primo-explore/jsearch?vid=med_new&lang=en_US">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span></a>
                        <a href="https://miami-primo.hosted.exlibrisgroup.com/primo-explore/jsearch?vid=med_new&lang=en_US"><h6 class="service-heading">Find</br>Journals</h6></a>
                    </li>

                    <li class="list-inline-item">
                   <a href="https://spmed.library.miami.edu/subjects/">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                       <a href="https://spmed.library.miami.edu/subjects/"><h6 class="service-heading text-wrap">Resource</br>Guides</h6></a>
                    </li>

                <li class="list-inline-item">
                    <a href="https://spmed.library.miami.edu/subjects/databases.php?letter=All">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fas fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                        <a href="https://spmed.library.miami.edu/subjects/databases.php?letter=All"><h6 class="service-heading">Search</br>Databases</h6></a>
                </li>
            </ul>

            <ul class="list-inline">

                    <li class="list-inline-item">
                   <a href="http://calder.med.miami.edu/libraryhours.html">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
                    </span>
                       <a href="http://calder.med.miami.edu/libraryhours.html"><h6 class="service-heading">Library</br>Hours</h6></a>
                    </li>

                    <li class="list-inline-item">
                   <a href="http://calder.med.miami.edu/biomed/index.html">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fas fa-atom fa-stack-1x fa-inverse"></i>
                    </span>
                       <a href="http://calder.med.miami.edu/biomed/index.html"><h6 class="service-heading">Biomedical</br>Communications</h6></a>
                    </li>

                    <li class="list-inline-item">
                   <a href="http://caldercomm.med.miami.edu/index.php/home">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fab fa-joomla fa-stack-1x fa-inverse"></i>
                    </span>
                       <a href="http://caldercomm.med.miami.edu/index.php/home"><h6 class="service-heading">Library </br>Blog</h6></a>
                    </li>

                <li class="list-inline-item">
                    <a href="https://spmed.library.miami.edu/subjects/talkback.php">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                        <a href="https://spmed.library.miami.edu/subjects/talkback.php"><h6 class="service-heading">Comments & </br>Suggestions</h6></a>
                </li>


            </ul>
        </div>




        <div class="col-lg-5 border">


            <a href="http://calder.med.miami.edu/biomed/index.html" class="resource d-none d-lg-inline-block">
                <img src="{{ 'assets/images/cochraneandcovidence.png' | absolute_url }}" alt="Cochrane and Covidence">
            </a>


        </div>



    </div>
</div>



