





<div class="container">

    <div class="row text-center">

        <div class="col-lg-6 border">

            <h3>Featured Resource</h3>
            <a href="http://uhealthsystem.com/" class="resource d-none d-lg-inline-block">
                <img src="{{ 'assets/images/biomedcomm.jpg' | absolute_url }}" alt="Biomedical Communications">
            </a>


        </div>



        <div class="row col-lg-6">

            <ul class="list-inline">

                    <li class="list-inline-item">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                        <h6 class="service-heading">Find</br>Books</h6>
                    </li>

                    <li class="list-inline-item">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                        <h6 class="service-heading">Find</br>Journals</h6>
                    </li>

                    <li class="list-inline-item">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                        <h6 class="service-heading text-wrap">Resource</br>Guides</h6>
                    </li>
            </ul>

            <ul class="list-inline">

                    <li class="list-inline-item">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fas fa-atom fa-stack-1x fa-inverse"></i>
                    </span>
                        <h6 class="service-heading">Search</br>Databases</h6>
                    </li>

                    <li class="list-inline-item">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fas fa-laptop-code fa-stack-1x fa-inverse"></i>
                    </span>
                        <h6 class="service-heading">Biomedical</br>Communications</h6>
                    </li>

                    <li class="list-inline-item">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                        <h6 class="service-heading">Comments & </br>Suggestions</h6>

                    </li>

            </ul>
        </div>

    </div>
</div>



