





<div class="container">



    <div class="row text-center">

        <div class="col-lg-6 border">

            <h3>Featured Resource</h3>
            <a href="http://uhealthsystem.com/" class="resource d-none d-lg-inline-block">
                <img src="{{ 'assets/images/biomedcomm.jpg' | absolute_url }}" alt="Biomedical Communications">
            </a>


        </div>



        <div class="col-lg-6 list-unstyled">

            <ul class="list-unstyled d-flex flex-row flex-wrap">
                <div class="d-inline-block">
                    <li>
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading">Books</h4>
                    </li>

                    <li>
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading">Journals</h4>
                    </li>

                    <li>
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading">Resource Guides</h4>
                    </li>

                </div>

                <div class="d-inline-block">

                    <li>
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fas fa-atom fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading">Biomedical Communications</h4>
                    </li>

                    <li>
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fas fa-laptop-code fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading">Databases</h4>
                    </li>

                    <li>
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="service-heading">Comments & Suggestions</h4>

                    </li>
                    <div>
            </ul>
        </div>

    </div>
</div>


