.search-area {
  background-color: $feature;

}

li {
   display: list-item;
   text-align: -webkit-match-parent;
 }

.nav-link {
  display: block;
}

.tab-content-inner form {
  margin-bottom:0px;
}

select {
  margin-bottom:5px;
  padding:0px;
  height:20px;
  width:40%;
  font-size:14px;
}
.tab-content-inner form input[type="text"] {
  margin-bottom:5px;
  padding:2px 6px 2px;
  width:95%;
  font-size:14px;
}


.tab-pane {
  margin-top:0px;
}



.nav-tabs:after, .nav-pills:after {
  clear:both
}

.nav-tabs>li>a, .nav-pills>li>a {
  padding-right:12px;
  padding-left:12px;
  margin-right:2px;
  line-height:13px
}

.nav-tabs {
  border-bottom:1px solid #ddd
}

.nav-tabs>li {
  margin-bottom:-1px
}


.tab-content>.tab-pane, .pill-content>.pill-pane {
  display:none
}


.nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
  color: #fff;
  background-color: #f47321;
}

.btn-primary {
  color: #fff;
  background-color: #f47321;
  border-color: #f47321;
}