.featured-resource {
  height: 300px;
  width: 300px;
  align-content: left;
}

.site-services {


 }

.resource {
  img {
    border-radius: $border-radius;
    height: 380px;
    width: 380px;
  }


  @media (min-width: map-get($grid-breakpoints, lg)) {
    .nav-link {
      padding: 0;
    }
  }
}

li {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}