.calder-nav {
<<<<<<< HEAD
  background-color:#e9ecef;
  color:#000;
=======
  background-color: #FFFFFF;
  color: #000;

>>>>>>> 5b89c556c4fd704f63623400a339e9cc2d2b0c3e

  .navbar-brand {
    img {
      border-radius: $border-radius;
      height: 70px;
      width: auto;
    }
  }

<<<<<<< HEAD
=======

>>>>>>> 5b89c556c4fd704f63623400a339e9cc2d2b0c3e
  .uhealth {
    img {
      border-radius: $border-radius;
      height: 60px;
      width: auto;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      margin-left: 1rem;
    }
  }

  .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    padding: .25rem .75rem;
    font-size: 1.25rem;

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  .navbar-nav {
    width: 100%;

    .nav-link {
      padding:0 0 .5rem 0;
    }

    li {
      &:first-child {
        .nav-link {margin-top: .5rem;}
      }
      &:last-child {
        .nav-link {
          padding-bottom: 0;
        }
      }
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
      .nav-link {
        padding:0;
      }

      li {
        &:first-child {
          .nav-link {margin-top: 0;}
        }
      }
    }
  }

  #mainNav {
    @media (min-width: map-get($grid-breakpoints, lg)) {
      height: 77px;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

