.featured-resource {
  height: 300px;
  width: 300px;
<<<<<<< HEAD

=======
  align-content: left;
>>>>>>> 5b89c556c4fd704f63623400a339e9cc2d2b0c3e
}

.site-services {


}

.resource {
  img {
    border-radius: $border-radius;
<<<<<<< HEAD
    height: 428px;
    width: 428px;
=======
    height: 380px;
    width: 380px;
>>>>>>> 5b89c556c4fd704f63623400a339e9cc2d2b0c3e
  }


  @media (min-width: map-get($grid-breakpoints, lg)) {
    .nav-link {
      padding: 0;
    }
  }
}

li {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}