.search-area{
  background-color: $feature;

}

#widget select {
  -webkit-appearance:menulist;
}
#widget {

  margin-top:0px;


}

#widget #tabs {

  height:21px;
  margin-bottom:0;
  font-size:12px;
  border-bottom:none;



}
#widget label, input[type="text"] {
  font-size:12px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans serif;
  font-weight:normal;
}
#widget #tabs li a {
  line-height:20px;
  text-decoration:none;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);

}
#widget #databases label {
  width:25%;
}
#widget #ejournals label {
  width:20%;
}
#widget .tab-content {

  width: 875px;

  height:95px;
  max-height:95px;
  margin-top:3px;
  padding-top:3px;
  padding-bottom:3px;
  vertical-align:middle;
  background-color: $feature;
  border:1px solid #dcd6be;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-right-radius:4px;



}
#widget .nav-tabs > .active > a, #widget .nav-tabs > .active > a:hover {
  color:#F5E9B8;
  cursor:default;
  background-color: $feature;
  border:none;
}
#widget .nav-tabs li a {
  font-size:15px;
  font-weight:bold;
  max-height:24px;
  padding:6px 25px 6px 25px;
  color:#D9E0BF;
  background-color:#7B9A70;
  border:none;
  text-shadow:#000 -1px 1px 1px;
}
#widget .nav-tabs li.active {
  color:#de752f;
}
#widget .nav-tabs li a:hover {
  color:#F5E9B8;
  background-color:#de752f;
  border:none;
}
#widget #tabs li {
  max-height:24px;
  padding-bottom:1px;
  list-style-type:none;
}
#widget .tab-content-inner {
  margin:10px 10px 20px 10px;
  line-height:2.0em;
}

#widget #sc6 .tab-content-inner {
  margin:5px 10px 20px 10px;
  line-height:2.0em;
}

#widget .uptodatetab-content-inner {
  margin:-5px 10px 18px 100px;
  line-height:2.0em;
}
#widget .pubmedtab-content-inner {
  margin:25px 10px 18px 10px;
  line-height:2.0em;

}


#widget #databases .tab-content-inner {
  margin:6px 10px 5px;
}
#widget #ejournals .tab-content-inner {
  margin:6px 10px 5px;
}
#widget #pubmed .tab-content-inner {
  margin:14px 10px 5px;
}
#widget #ejournals .tab-content-inner {
  margin:6px 10px 5px;
}
#widget #catalog .tab-content-inner {
  margin:6px 10px 5px;
}
#widget #catalog .tab-content-inner label {
  margin-bottom:0;
  padding-top:4px;
  font-size:12px;
  display:inline-block;
  *display:inline;
  zoom:1;
  width:50%;
}
#widget #ebooks .tab-content-inner {
  margin:6px 10px 5px;
}
#widget #ebooks .tab-content-inner label {
  margin-bottom:0;
  padding-top:4px;
  font-size:12px;
  display:inline-block;
  *display:inline;
  zoom:1;
  width:50%;
}
#widget .tab-content-inner form {
  margin-bottom:0px;
}
#widget select {
  margin-bottom:5px;
  padding:0px;
  height:20px;
  width:40%;
  font-size:14px;
}
#widget .tab-content-inner form input[type="text"] {
  margin-bottom:5px;
  padding:2px 6px 2px;
  width:95%;
  font-size:14px;

}
#widget #wdgtPatient-problem, #widget #wdgtIntervention {
  width:40%;
}
#widget #wdgtDrug-name {
  display:none;
}
#widget .tab-pane {
  margin-top:0px;
}
#widget label {
  color:#4F4F4F;
}
#widget a, #widget a:link, #widget a:visited {
  color:#F5E9B8;
}
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
  display:table;
  line-height:0;
  content:""
}
.nav-tabs:after, .nav-pills:after {
  clear:both
}
.nav-tabs>li, .nav-pills>li {
  float:left
}
.nav-tabs>li>a, .nav-pills>li>a {
  padding-right:12px;
  padding-left:12px;
  margin-right:2px;
  line-height:13px
}
.nav-tabs {
  border-bottom:1px solid #ddd
}
.nav-tabs>li {
  margin-bottom:-1px
}
.nav-tabs>li>a {
  padding-top:8px;
  padding-bottom:8px;
  line-height:20px;
  border:1px solid transparent;
  -webkit-border-radius:4px 4px 0 0;
  -moz-border-radius:4px 4px 0 0;
  border-radius:4px 4px 0 0
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  color:#D9E0BF;
  cursor:default;
  background-color:#de752f;
  border:1px solid #ddd;
  border-bottom-color:transparent
}
.tab-content>.tab-pane, .pill-content>.pill-pane {
  display:none
}